html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
  background-color: black;
}

body {
  margin: auto;
  font-family: "VT323", sans-serif;
  color: #03d70e;
}

a {
  text-decoration: none;
  color: #03d70e;
  font-size: 20px;
}

.nav-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.placeholder {
  overflow: auto;
}

.section {
  height: 90vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-section h1 {
  overflow: hidden;
  border-right: 0.15em solid #03d70e;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #03d70e;
  }
}

button {
  background: none;
  border: none;
  color: #03d70e;
  border-radius: .25rem;
}

button:hover {
  cursor: pointer;
  outline: #03d70e solid 1px;
}

.carousel-button {
  font-size: 3rem;
}

.my-work-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
} 
 
.slide {
  display: none;
  opacity: 0;
}

.slide[data-active-work] {
  display: block;
  animation: work-activation 1000ms forwards;
}

@keyframes work-activation {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (min-width: 600px) { 
  .my-work-container { 
    grid-template-columns: repeat(2, 1fr); 
  } 
} 
 
@media (min-width: 900px) { 
  .my-work-container { 
    grid-template-columns: repeat(3, 1fr); 
  } 
} 

img {
  max-width: 100%;
  height: auto;
}
